# This file generated from a Chef template.
# squid/templates/default.squid.conf.erb

<% if node['squid']['cache_peer'] %>
<% node['squid']['cache_peer'].each do |cache_peer| %>
<%= cache_peer %>
<% end %>
<% end %>

<% if node['squid']['user'].length %>
auth_param basic program <%= node['squid']['ncsa'] %> <%= node['squid']['passwd'] %>
acl password proxy_auth REQUIRED
<% end %>

<%= "acl all src" if node['squid']['version'].to_i < 3 %>
<%= "acl manager proto cache_object" if node['squid']['version'].to_f < 3.2 %>
acl localhost src 127.0.0.1/32
<%= "acl to_localhost dst 127.0.0.0/8 0.0.0.0/32" if node['squid']['version'].to_f < 3.2 %>
# acl localnet src 10.0.0.0/8	# RFC1918 possible internal network
# acl localnet src 172.16.0.0/12	# RFC1918 possible internal network
# acl localnet src 192.168.0.0/16	# RFC1918 possible internal network
# acl localnet src fc00::/7       # RFC4193 local private network range
# acl localnet src fe80::/10      # RFC4291 link-local (directly-plugged) machine
acl SSL_ports port 443		# https
acl SSL_ports port 563		# snews
acl SSL_ports port 873		# rsync
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl Safe_ports port 631		# cups
acl Safe_ports port 873		# rsync
acl Safe_ports port 901		# SWAT
acl purge method PURGE
acl CONNECT method CONNECT

# Managed with Chef
<% @host_acl.each do |host| %>
acl <%= host[0] %> <%= host[1] %> <%= host[2] %>
<% end %>
<% @url_acl.each do |url| %>
acl <%= url[0] %> url_regex <%= url[1] %>
<% end %>
<% @acls.each do |acl| %>
http_access <%= acl[0] %> <%= acl[1] %> <%= acl[2] %>
<% end %>

http_access allow manager localhost
http_access deny manager
http_access allow purge localhost
http_access deny purge
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

<% if node['squid']['user'].length %>
http_access allow password
<% end %>
http_access allow localhost
# http_access allow localnet
http_access deny all

# icp_access allow localnet
icp_access deny all
http_port <%= node['squid']['port'] %>

hierarchy_stoplist cgi-bin ?
access_log <%= node['squid']['log_dir'] %>/access.log squid
refresh_pattern	    ^ftp:			1440	20%	10080
refresh_pattern     ^gopher:			1440	0%	1440
refresh_pattern	    -i (/cgi-bin/|\?)		0	0%	0
refresh_pattern     (Release|Package(.gz)*)$	0	20%	2880
# refresh_pattern	    \.deb$			1440    20%	10080
# refresh_pattern	    \.rpm$			1440    20%	10080
# refresh_pattern	    \.iso$			1440    20%	10080
# refresh_pattern	    \.$			1440    20%	10080
# refresh_pattern	    .				0	20%	4320
hosts_file /etc/hosts
<%- if node['squid']['enable_cache_dir'] %>
cache_dir ufs <%= node['squid']['cache_dir'] %> <%= node['squid']['cache_size'] %> 16 256
<%- end %>
coredump_dir <%= node['squid']['coredump_dir'] %>
refresh_pattern deb$ 1577846 100% 1577846
maximum_object_size <%= node['squid']['max_obj_size'] %> <%= node['squid']['max_obj_size_unit'] %>
cache_mem <%= node['squid']['cache_mem'] %> MB
<% @directives.each do |directive| %>
<%= directive %>
<% end %>
